<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <style>
        html, body, .dashbody, .dashbody > .row, .sidebar, .main-wrapper {
            height: 100% !important;
            margin: 0 !important;
        }

        .nashbtn{
            cursor: pointer;
        }

        .main-wrapper > #content {
            height:100%;
            overflow: auto;
        }
    </style>
</head>
<body>
<div class="col s12 m12 l12 dashbody">
    <div class="row">
        <div class="sidebar col s12 m4 l4 pink accent-4">
            <div class="card-panel white accent-3 ">
                <div class="user">
                    <h5 class="pink-text accent-3">
                        <i class="material-icons left">perm_identity</i> <span id="companyName"><%=company%></span> Dashboard
                    </h5>
                </div>
            </div>
            <div class="collection">
                <a id="inboxbtn" class="collection-item nashbtn">Inbox<span class="new badge inbox">0</span></a>
                <a href="#!" class="collection-item">Users Online<span class="new badge usersOnline">0</span></a>
                <a id="chatbtn" class="collection-item nashbtn">Chats<span class="badge">25</span></a>
                <a href="#!" class="collection-item">Admins<span class="badge">3</span></a>
            </div>
            <a href="/logout" class="waves-effect waves-light btn-large">Logout</a>

        </div>
        <div class="main-wrapper col s12 m8 l8 teal accent-4">
            <div id="content">
                <!--<div class="user card-panel">-->
                    <!--<h6>Id: IP: UA: <span class="new badge">0</span></h6>-->
                    <!--<a class="red-text accent-5 waves-effect waves-teal btn-flat">Start Chat</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>

</div>
</body>
<% include ../partials/footer %>
<script src="/js/nash.dash.sio.js"></script>
<script>
    //    $(function () {
    //       var $companyName = $('#company_name');
    //    });

    $(function () {
        var $liveContent = $('.main-wrapper > #content');

        $('#chatbtn').click(function () {
            $liveContent.empty();
            console.log('Chatbtn clicked');
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/chat',
                data: {company_name: $('#companyName').text().toLowerCase()},
                success: function (data) {
                    console.log(data);
                    data.forEach(function (res) {
                        $liveContent.append("<div class='card-panel'>" +
                                "<p class='pink-text accent-3'>"+res.username+"</p>" +
                                "<p class='green-text accent-4'>"+res.message+"</p></div>");
                    });
                },
                error: function (xhr, status, err) {
                    console.log(err.toString());
                }
            });
        });
    })
</script>
</html>